{% load staticfiles %}

<div class="profile-sidebar">
    <!-- SIDEBAR USERPIC -->
        {% if user.userprofile.avatar %}
            <img class='img-responsive img-thumbnail' src="{{ user.userprofile.avatar.url }}" />
        {% else %}
            <img class='img-responsive img-thumbnail' src="{% static 'img/placeholder.svg' %}" />
        {% endif %}

    <!-- END SIDEBAR USERPIC -->
    <!-- SIDEBAR USER TITLE -->
    <div class="profile-usertitle">
        <div class="profile-usertitle-name">
            <h4>@{{ user.username }}</h4>
        </div>
    </div>
    <!-- END SIDEBAR USER TITLE -->
    <!-- SIDEBAR BUTTONS -->
    <div class="profile-userbuttons">
        <a class="btn btn-info btn-responsive" href="#"> Editar
            <span class="glyphicon glyphicon-edit"></span>
        </a>
    </div>
    <!-- END SIDEBAR BUTTONS -->
    <!-- SIDEBAR MENU -->
    <div class="profile-usermenu">
        <ul class="nav" id="profile-tab">
            <li class="active">
                <a href="#profile" data-toggle="tab">
                    <i class="glyphicon glyphicon-home"></i>Resumen
                </a>
            </li>
            <li>
                <a href="#settings" data-toggle="tab">
                    <i class="glyphicon glyphicon-user"></i>Configuracion de la cuenta
                </a>
            </li>
            <li>
                <a href="#orders" data-toggle="tab">
                    <i class="glyphicon glyphicon-list-alt"></i>Mis Pedidos
                </a>
            </li>
            <li>
                <a href="#help" data-toggle="tab">
                    <i class="glyphicon glyphicon-flag"></i>Ayuda
                </a>
            </li>
        </ul>
    </div>
    <!-- END MENU -->
</div>