#thumbnail img{
  width:100px;
  height:100px;
  margin:5px;
}

#dropzone { margin-bottom: 3rem; }

.dropzone { border: 2px dashed #0087F7; border-radius: 5px; background: white; }
.dropzone .dz-message { font-weight: 400; }
.dropzone .dz-message .note { font-size: 0.8em; font-weight: 200; display: block; margin-top: 1.4rem; }

*, *:before, *:after { box-sizing: border-box; }
/*
footer { background: #2D3038; z-index: 5000; position: relative; display: block; padding: 1.4rem 1.4rem 2.8rem 1.4rem; font-size: 0.9rem; color: white; }
footer * { color: white; }
footer a:hover { border-color: white; }
footer > * { max-width: 720px; margin-left: auto; margin-right: auto; }
@media (min-width: 720px) { footer .license { text-align: justify; } }
footer .logo { margin: 2.8rem 0; width: 270px; }
*/

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #109cff;
    color: white;
}

.img-product {

}

.img-product img {
    margin: 0 auto;;
}
