<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="icon" href="../../media/images/favicons.ico/favicon.ico">
      <link rel="apple-touch-icon" sizes="57x57" href="../../media/images/favicons.ico/apple-icon-57x57.png">
      <link rel="apple-touch-icon" sizes="60x60" href="../../media/images/favicons.ico/apple-icon-60x60.png">
      <link rel="apple-touch-icon" sizes="72x72" href="../../media/images/favicons.ico/apple-icon-72x72.png">
      <link rel="apple-touch-icon" sizes="76x76" href="../../media/images/favicons.ico/apple-icon-76x76.png">
      <link rel="apple-touch-icon" sizes="114x114" href="../../media/images/favicons.ico/apple-icon-114x114.png">
      <link rel="apple-touch-icon" sizes="120x120" href="../../media/images/favicons.ico/apple-icon-120x120.png">
      <link rel="apple-touch-icon" sizes="144x144" href="../../media/images/favicons.ico/apple-icon-144x144.png">
      <link rel="apple-touch-icon" sizes="152x152" href="../../media/images/favicons.ico/apple-icon-152x152.png">
      <link rel="apple-touch-icon" sizes="180x180" href="../../media/images/favicons.ico/apple-icon-180x180.png">
      <link rel="icon" type="image/png" sizes="192x192"  href="../../media/images/favicons.ico/android-icon-192x192.png">
      <link rel="icon" type="image/png" sizes="32x32" href="../../media/images/favicons.ico/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="96x96" href="../../media/images/favicons.ico/favicon-96x96.png">
      <link rel="icon" type="image/png" sizes="16x16" href="../../media/images/favicons.ico/favicon-16x16.png">
      <link rel="manifest" href="../../media/images/favicons.ico/manifest.json">
      <meta name="msapplication-TileColor" content="#ffffff">
      <meta name="msapplication-TileImage" content="../../media/images/favicons.ico/ms-icon-144x144.png">
      <meta name="theme-color" content="#ffffff">

      <title>{% block head_title %}{% endblock %}Postdata</title>

      {% load staticfiles %}
      <!-- Custom styles for this template -->
      <link rel='stylesheet' href='{% static "css/bootstrap.css" %}' />
      <link rel='stylesheet' href='{% static "css/sticky-footer-navbar.css" %}' />
      <link href="{% static 'css/font-awesome.min.css'%}" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="{% static 'css/landing-page.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/pe-icon-7-stroke.css' %}"/>

      {% block dropzonejs-styles %}{% endblock %}
      {% block profile-styles %}{% endblock %}
      {% block dashboard-styles %}{% endblock %}
      {% block login-form-styles %}{% endblock %}
      {% block styles %}{% endblock %}

    <style>
        {% block checkout-styles %}{% endblock %}
        .credits{border-top:1px solid #555555;padding:25px 0 15px;text-align:center}
        .alert-top-message {
            margin-bottom: 0px;
            border-radius: 0px;
            text-align: center;
            background-color: #DBDBDB;

        }
        .alert-top-message h3{
            margin: 0 auto;
        }
        .modal-dialog {
        }
        .background_img_thumb {
            width:100%;
            height:100%;
            background-size:cover;
            background: url("{% static 'img/placeholder.svg' %}") no-repeat center;
        }
    </style>

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="{% static 'js/ie-emulation-modes-warning.js' %}"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'js/ie10-viewport-bug-workaround.js' %} "></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body class="{% if style %}{{ style }}{% else %}landing-page{% endif %}">
      {% if request.session.marketing_message %}
      <div class='alert alert-top-message alert-dismissible' role='alert'>
        <button id='marketing-message-btn' type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <div class="container-fuild">
            <h3>{{ request.session.marketing_message|safe }}</h3>
          </div>
      </div>
      {% endif %}

      {% include 'navbar.html' %}
      <div id="messages-container" class="container-fluid">
      {% if messages %}
            {% for message in messages %}
                <div class='alert {% if "success" in message.tags %}alert-success{% elif "warning" in message.tags%}alert-warning{% elif "error" in message.tags %}alert-danger{% endif %} alert-dismissible' role='alert'>
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>

                    {% if "safe" in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}

                </div>
            {% endfor %}
         {% endif %}
      </div>

      {% block dropzonejs-uploader %}{% endblock %}

      {% block carousel %}{% endblock %}
      {% block jumbotron %}{% endblock %}

      {% block content %}{% endblock %}

      <footer class="footer-distributed">
          <div class="row support">
              <div class="col-lg-3 col-md-2 footer-left">

                  <h3 class="styled">PD <span>Postdata</span></h3>

                  <p class="footer-links">
                      <a href="#">Inicio</a>
                      ·
                      <a href="#">Productos</a>
                      ·
                      <a href="#">Nosotros</a>
                      ·
                      <a href="#">Faq</a>
                      ·
                      <a href="#">Contacto</a>
                  </p>

              </div>

              <div class="col-lg-3 col-md-3 footer-center">
                  <div>
                      <i class="fa fa-map-marker"></i>
                      <p><span>21 Revolution Street</span> Paris, France</p>
                  </div>

                  <div>
                      <i class="fa fa-phone"></i>
                      <p>+1 555 123456</p>
                  </div>

                  <div>
                      <i class="fa fa-envelope"></i>
                      <p><a href="mailto:support@company.com">support@email.com</a></p>
                  </div>

              </div>

              <div class="col-lg-3 col-md-4 footer-center">
                  <h4>Boletin de noticias</h4>

                  <form accept-charset="UTF-8" action="{% url 'ajax_email_signup' %}" class="form-inline" data-remote="true" html="{:multipart=>true}" method="post">
                      {% csrf_token %}

                      <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"></div>
                      <div class="form-group">
                          <label class="sr-only" for="exampleInputEmail2">Email address</label>
                          <input class="form-control" id="subscribe_email" name="subscribe_email" placeholder="Enter Email" type="email">
                      </div>

                      <input class="btn btn-info btn-fill" name="commit" type="submit" value="Subscribe">
                  </form>
                  <h3 class="subscribers">1,665 Subscriptores</h3>
              </div>

              <div class="col-lg-3 col-md-3 footer-right">
                  <h4>Sobre nosotros</h4>
                  <p class="footer-company-about">
                      Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
                  </p>

                  <div class="footer-icons">

                      <a href="#"><i class="fa fa-facebook"></i></a>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                      <a href="#"><i class="fa fa-instagram"></i></a>
                      <a href="#"><i class="fa fa-youtube"></i></a>

                  </div>
              </div>
          </div>
          <div class="row">
              <div class="credits">
                  <p class="footer-company-name">© 2015 Postdata, hecho con <i class="fa fa-heart" alt="love"></i> para un mejor servicio</p>
              </div>
          </div>
      </footer>

      {% include "modal.html" %}


      <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="{% static 'js/jquery.min.js' %}"></script>
      <script src="{% static 'js/jquery-ui-1.10.4.custom.min.js' %}"></script>
      <!-- Latest compiled and minified JavaScript -->
      <script src="{% static 'js/bootstrap.min.js' %}"></script>

      {% block dropzonejs-scripts %}{% endblock %}
      {% block profile-scripts %}{% endblock %}
      <script>
          $(document).ready(function(){
            $("#marketing-message-btn").click(function(){
             $.ajax({
                  type: "POST",
                  url: "{% url 'dismiss_marketing_message' %}",
                  data: {
                    "dimiss-marketing": true,
                    "csrfmiddlewaretoken": "{{ csrf_token }}",
                  },
                  success: function(data){
                  },
                  error: function(){
                    alert("Error! Something wrong. Please try again later")
                  },
               });
            });

            {% if not request.user.is_authenticated and not request.session.email_added_marketing and not "accounts" in request.get_full_path %}
            function showModal(){
                $("#marketingModal").modal("show");
                setTimeout(showModal, 50000);
            }
            //showModal()
            //setTimeout(showModal, 50000);
            $("#sendMarketingForm").click(function(e){
              e.preventDefault();
              var mForm = $("#sendForm").serialize();
             $.ajax({
                  type: "POST",
                  url: "{% url 'ajax_email_signup' %}",
                  data: mForm,
                  success: function(data){
                    // console.log(data)
                    $("#modalMessage").html("<p>" + data + "</p>");
                     $("#marketingModal").modal("hide");
                  },
                  error: function(data){
                    // console.log(data)
                    // console.log(data.responseJSON)
                    var obj = data.responseJSON;
                    // console.log(obj)
                    // console.log(obj.email)
                    $("#modalMessage").html("<p style='color:red;'>" + obj.email + "</p>")
                  },
               });
            });
            {% endif %}

          });
      </script>


      <script>
          $(document).ready(function(){
              {% block jquery %}{% endblock%}
          });
      </script>
  </body>
</html>