{% extends "base.html" %}


{% block content %}


<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="text-center">
                <i class="fa fa-search-plus pull-left icon"></i>
                <h2>Pedido # {{ order.order_id }}</h2>
            </div>
            <hr>
            <div class="row">
                <div class="col-xs-12 col-md-3 col-lg-3 pull-left">
                    <div class="panel panel-default height">
                        <div class="panel-heading">Detalles de facturación</div>
                        <div class="panel-body">
                            <strong>{{ order.billing_address.first_name }} {{ order.billing_address.last_name }}</strong><br>
                            {{ order.billing_address.address }}<br>
                            {{ order.billing_address.address2 }}<br>
                            {{ order.billing_address.city }}<br>
                            {{ order.billing_address.country }}<br>
                            {{ order.billing_address.phone }}<br>
                            <strong>{{ order.billing_address.zipcode }}</strong><br>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-3 col-lg-3">
                    <div class="panel panel-default height">
                        <div class="panel-heading">Información del pago</div>
                        <div class="panel-body">
                            <strong>Tipo de tarjeta:</strong> Visa<br>
                            <strong>Número de tarjeta:</strong> ***** 332<br>
                            <strong>Fecha de expiración:</strong> 09/2020<br>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-3 col-lg-3">
                    <div class="panel panel-default height">
                        <div class="panel-heading">Preferencias del pedido</div>
                        <div class="panel-body">
                            <strong>Regalo?:</strong> No<br>
                            <strong>Envío a casa?:</strong> Si<br>
                            <strong>Insurance:</strong> No<br>
                            <strong>Cupón:</strong> No<br>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-3 col-lg-3 pull-right">
                    <div class="panel panel-default height">
                        <div class="panel-heading">Dirección de envío</div>
                        <div class="panel-body">
                            <strong>{{ order.shipping_address.first_name }} {{ order.shipping_address.last_name }}</strong><br>
                            {{ order.shipping_address.address }}<br>
                            {{ order.shipping_address.address2 }}<br>
                            {{ order.shipping_address.city }}<br>
                            {{ order.shipping_address.country }}<br>
                            {{ order.shipping_address.phone }}<br>
                            <strong>{{ order.shipping_address.zipcode }}</strong><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="text-center"><strong>Resumen del pedido</strong></h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <td><strong>Producto</strong></td>
                                    <td class="text-center"><strong>Precio</strong></td>
                                    <td class="text-center"><strong>Cantidad</strong></td>
                                    <td class="text-right"><strong>Total</strong></td>
                                </tr>
                            </thead>
                            <tbody>
                            {% for item in order.cart.cartitem_set.all %}
                                <tr>
                                    <td>{{ item.product.title }}</td>
                                    <td class="text-center">Bs.F {{ item.product.price }}</td>
                                    <td class="text-center">{{ item.quantity }}</td>
                                    <td class="text-right">Bs.F {{ item.line_total }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <button id="print-order" class="btn btn-primary text-center">Imprimir <span class="fa fa-print"></span></button>
        </div>
    </div>
</div>


<style>
.height {
    min-height: 200px;
}

.icon {
    font-size: 47px;
    color: #5CB85C;
}

.iconbig {
    font-size: 77px;
    color: #5CB85C;
}

.table > tbody > tr > .emptyrow {
    border-top: none;
}

.table > thead > tr > .emptyrow {
    border-bottom: none;
}

.table > tbody > tr > .highrow {
    border-top: 3px solid;
}
</style>


{% endblock %}