{% extends 'accounts/profile.html' %}

{% block detailed-order %}
    <div class="panel panel-default">
        <div class="panel-heading">Pedido # {{ order.order_id }}
            <a href="#orders" data-toggle="tab" style="color: #FFF;">Volver</a>
        </div>
        <div class="panel-body">
            <table class="table table-hover">
            <thead>
              <tr>
                <th>Nro. #</th>
                <th>Apellido</th>
                <th>Username</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ order.order_id }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.username }}</td>
              </tr>
            </tbody>
        </table>
        </div>
    </div>

{% endblock %}