{% extends "base.html" %}

{% load staticfiles %}

{% block dropzonejs-styles %}
    <link rel="stylesheet" href="{% static 'css/dropzone.css' %}">
    <link rel="stylesheet" href="{% static 'css/pdpostdata.css' %}">
    <link rel="stylesheet" href="{% static 'css/cropper.css' %}">
{% endblock %}

{% block dropzonejs-uploader %}
    <!--<div class="modal fade" id="cropmodal" tabindex="-1" role="dialog" aria-labelledby="cropmodal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="cropFormLabel"> Edita tu imagen! </h4>
      </div>
      <div class="modal-body">
        <div class="text-center">
        	<form action="" method="post" onsubmit="return checkCoords();">{% csrf_token %}
				<input type="hidden" id="x" name="x" />
				<input type="hidden" id="y" name="y" />
				<input type="hidden" id="w" name="w" />
				<input type="hidden" id="h" name="h" />
				<div class="thumbnail">
                    <img src="" id="jcrop_target" width="800px" height="600px"/>
        		</div>

        		<input type="submit" value="Crop Image" />
        	</form>
        </div>
      </div>
    </div>
  </div>
</div>-->
    <div class="modal fade" id="cropper-modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <form id="cropperForm" class="form" action="{% url 'cropper' %}" method="POST">{% csrf_token %}
                        <input class="image_src" name="image_src" type="hidden">
                        <input class="image_id" name="image_id" type="hidden">
                        <input class="image_data" name="image_data" type="hidden">
                        <div class="form-group">
                            <div id="cropper" class="img-container">
                                <img src="" alt="Picture">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Crop
                            <span class="glyphicon glyphicon-check"></span>
                        </button>
                    </form>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>
    <div id="dropzone-container" class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-lg-8">
                        <h4>Fotos cargadas: <span id='image-count'>0</span> / {{ product.image_total }}</h4>
                    </div>
                    <div class="col-lg-3 pull-right">
                    <div class="btn-group">
                        <form class="form form-inline" method="POST" action="{% url 'sort_photos' %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-default">
                                <i class="glyphicon glyphicon-apple"></i> Arreglar fotos
                            </button>
                            {{ upload_form.temp_hash }}
                        </form>
                    </div>
                    <div class="btn-group">
                        <form class='form form-inline' method='POST' action='{% url "add_to_cart" product.slug %}'>
                            {% csrf_token %}
                            <button type="submit" class="btn btn-default">
                                <i class="glyphicon glyphicon-shopping-cart"></i> Agregar al carrito
                            </button>
                            <input class="form-control"  name='qty' type='hidden' value='1'/>
                            {{ upload_form.temp_hash }}
                        </form>
                    </div>
                        </div>
                </div>
            </div>
            <div class="panel-body">
                <div id="dropzone">
                    <form action="{% url 'make' product.slug %}" class="dropzone" id="myDropzone" method='POST' enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ upload_form.temp_hash }}
                        <div class="dz-message">
                            Zona de carga<br>
                            <span class="note">
                                (Carga tus fotos haciendo clic en el boton de carga
                                o arrastrandolas aqui)
                            </span>
                        </div>
                        <div class="fallback">
{#                            <input name="file" type="file" multiple />#}
                            {{ upload_form.file }}
                        </div>
                    </form>
                </div>
                <!-- The global file processing state -->
                <div class="row">
                    <div class="col-xs-2">
                        <a href="#" class="fileinput-button btn btn-primary" role="button">  Cargar fotos
                            <span class="glyphicon glyphicon-cloud-upload"></span>
                        </a>
                    </div>
                    <div class="col-xs-10">
                        <span class="fileupload-process">
                        <div id="total-progress" class="progress progress-striped active" style="opacity: 0;height: 34px"
                             role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                            <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress=""></div>
                        </div>
                    </span>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-xs-10">
                        <i class="glyphicon glyphicon-info-sign"></i>
                            Puedes cargar tus imagenes arrastrandolas al area de carga
                            o haciendo clic en el boton para elegir tus fotos.
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- /container -->
    <!--<form id="uploadForm" action="{% url 'make' product.slug %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" id="sendUploadForm" value="Send" />
    </form>-->

{% endblock %}

{% block content %}

    <!-- <div class="row">
        <form class='form' method='POST' action='{% url "add_to_cart" product.slug %}'> {% csrf_token %}
			<input class='btn btn-default btn-block' type='submit' value='Agregar al carrito'/>
            <input  class="form-control"  name='qty' type='number' value='1'/>
            {{ form.temp_hash }}
        </form>
    </div>-->
    <div class="container-fluid">
<div class="row">
<div class="table table-striped" class="files" id="previews">
<div id="template">
    <div class="col-sm-1 col-md-2">
        <div class="thumbnail">
            <a>
                <img class="img-responsive" id="" data-dz-thumbnail alt="" src="" alt=""/>
            </a>
        </div>
        <div class="caption">
            <h3>Thumbnail label</h3>
            <p>Some sample text. Some sample text.</p>
            <p>
                <a href="#" class="btn btn-primary" role="button"> Button </a>
                <a href="#" class="btn btn-default" role="button">Button </a>
            </p>
        </div>
    </div>
</div>
</div>
</div>
    </div>
    <div id="dropzone-previews">
    </div>
    <!-- your popup hidden content -->
    <div id="popover_content_wrapper" style="display: none">This is your div content</div>
        <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" data-dismiss="modal">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <img src="" class="imagepreview" >
                    </div>
                    <div class="modal-footer">
                        <div class="col-xs-12">
                            <p class="text-left">1. line of description<br>2. line of description <br>3. line of description</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block dropzonejs-scripts %}
    <script src="{% static 'js/dropzone.js' %}"></script>
    <script src="{% static 'js/cropper.js' %}"></script>
    <script type="text/javascript">

        var image_count = 0;

        /*$(document).ready(function (e) {
            $('#uploadForm').on('submit',(function(e) {
                e.preventDefault();
                var formData = new FormData(this);

                $.ajax({
                    type:'POST',
                    url: $(this).attr('action'),
                    data:formData,
                    cache:false,
                    contentType: false,
                    processData: false,
                    success:function(data){
                        console.log("success");
                        console.log("fjkdwhfjwhf"+ data);
                        for (var i =0; i< data.file.length; i++) {
                            $('#dropzone-previews').append('<div class="col-lg-2 col-md-1 col-xs-1 thumb"><a class="thumbnail" href="#"> <img class="img-responsive" src="' + data.file[i].url + '" alt=""> </a> </div>');
                            //$('#dropzone-previews').append('<div class="col-sm-1 col-md-3"><div class="thumbnail"><a><img class="img-responsive" id="' + data.photos[i].name + '" data-dz-thumbnail alt="' + data.photos[i].name+ '" src="' + data.photos[i].url + '"alt=""/></a> </div> <div class="caption"> <h3>Thumbnail label</h3> <p>Some sample text. Some sample text.</p> <p> <a href="#" class="btn btn-primary" role="button"> Button </a> <a href="#" class="btn btn-default" role="button">Button </a> </p> </div> </div>');
                        }


                    },
                    error: function(data){
                        console.log("error");
                        console.log(data);
                    },

                    xhr: function()
                    {
                        //$('.progress-bar').css("display",'block');
                        //$('#percent').text('0%');
                        var xhr = new window.XMLHttpRequest();
                        //Upload progress
                        xhr.upload.addEventListener("progress", function(e){
                        if (e.lengthComputable) {
                            var percentComplete = e.loaded / e.total;
                            //Do something with upload progress
                            console.log(percentComplete);
                            $('.progress-bar').css('width', (percentComplete)*100+'%');
                            $('#percent').text(Math.floor((percentComplete)*100)+'%');
                        }
                    }, false);
                    return xhr;
                    }
                });
            }));

            $("#id_photos").on("change", function() {
                $("#uploadForm").submit();
            });
        });*/

        // Dropzone configuration
        // Get the template HTML and remove it from the document.
        var previewNode = document.querySelector("#template");
        previewNode.id = "";
        var previewTemplate = previewNode.parentNode.innerHTML;
        previewNode.parentNode.removeChild(previewNode);

        Dropzone.options.myDropzone = {
            url: "{% url 'make' product.slug %}", // Set the url
            parallelUploads: 5,
            paramName: "file", // Name of our input file tag
            removeLinks: true,
            acceptedFiles: "image/*",
            createImageThumbnails: true,
            maxFiles: 20,
            minFiles: 0,
            //previewTemplate: previewTemplate,
            //previewsContainer: "#previews", // Define the container to display the previews
            //thumbnailWidth: 150,
            //thumbnailHeight: 150,
            clickable: ".fileinput-button", // Define the element that should be used as click trigger to select files.

            init: function() {
                var myDropzone = this;

                this.on("success", function(file, responseText) {
                    // Event thrown when upload event finish upload images on the queue
                    console.log(responseText);
                    //var mydropzone = this;
                    //myDropzone.emit("thumbnail", file, responseText.photos[0].url);
                    //file.previewElement.querySelector("img").src = responseText.photos[0].url;

                    // Sets server generated image id to dropzonejs preview image.
                    file.previewElement.querySelector("img").id = responseText.file[0].name;

                    var editButton = Dropzone.createElement('<div class="pull-left"><a data-toggle="modal" ' +
                            'data-target="#cropper-modal" data-image_url="' + responseText.file[0].url + '" href="#">' +
                            '<i class="glyphicon glyphicon-edit text-default"></i> Editar</a></div>');

                    editButton.addEventListener('click', function() {
                        $('#cropper').find('img').attr('src', responseText.file[0].url).attr('id', responseText.file[0].name);
                    });

                    // Add the button to the file preview element.
                    file.previewElement.appendChild(editButton);

                    //$('#dropzone-previews').append('<div class="col-sm-1 col-md-3"><div class="thumbnail"><a><img class="img-responsive" id="' + responseText.photos[0].name + '" data-dz-thumbnail alt="' +responseText.photos[0].name+ '" src="' + responseText.photos[0].url + '"alt=""/></a> </div> <div class="caption"> <h3>Thumbnail label</h3> <p>Some sample text. Some sample text.</p> <p> <a href="#" class="btn btn-primary" role="button"> Button </a> <a href="#" class="btn btn-default" role="button">Button </a> </p> </div> </div>');

                    $('#'+responseText.file[0].name).popover({
                        html: true,
                        trigger: 'focus',
                        container: '#dropzone-previews',
                        placement: 'bottom',
                        animation: true,
                        content: function () {
                            return '<button class="btn btn-success" data-toggle="modal" data-target="#cropmodal" ' +
                                    'data-image_url="' + responseText.file[0].url + '" >Open image </button>'
                        },
                    });

                    // Keep count of uploaded files
                    image_count++;
                    var fileCount = myDropzone.files.length;
                    $("#image-count").html(fileCount);

                });

                this.on("complete", function() {
                    //this.removeAllFiles();
                });

                this.on("addedfile", function(file) {
                    var removeButton = Dropzone.createElement('<div class="pull-right"><a href="#"><i class="glyphicon glyphicon-trash text-danger"></i></a></div>');
                    var _this = this;

                    // Listen to the click event
                    removeButton.addEventListener("click", function(e) {
                        e.preventDefault();
                        e.stopPropagation();
                        _this.removeFile(file);

                        var fileCount = myDropzone.files.length;
                        $("#image-count").html(fileCount);
                    // If you want to the delete the file on the server as well, you can do the AJAX request here.
                    });

                    // Add the button to the file preview element.
                    file.previewElement.appendChild(removeButton);
                    //image_count++
                    //$("#image-count").html(image_count);

                    //var fileCount = myDropzone.files.length;
                });

                this.on("maxfilesexceeded", function(file){

                });

                // Update the total progress bar
                this.on("totaluploadprogress", function(progress) {
                  document.querySelector("#total-progress .progress-bar").style.width = progress + "%";
                });

                this.on("sending", function(file) {
                  // Show the total progress bar when upload starts
                  document.querySelector("#total-progress").style.opacity = "1";
                  // And disable the start button
                });

                // Hide the total progress bar when nothing's uploading anymore
                this.on("queuecomplete", function(progress) {
                  document.querySelector("#total-progress").style.opacity = "0";
                });

                // remove extra images
                this.on('maxfilesexceeded', function(file) {
                    this.removeFile(file);
                });
            }
        };

    </script>
    <!--<script type="text/javascript">
        $('#cropmodal').on('show.bs.modal', function(e) {
             e.stopPropagation();
            //get data-image_url attribute of the clicked element
            var image_url = $(e.relatedTarget).data('image_url');

            //populate the img field
            var modal = $(this)
            modal.find('img').attr('src', image_url)

            function updateCoords(c)
            {
                $('#x').val(c.x);
                $('#y').val(c.y);
                $('#w').val(c.w);
                $('#h').val(c.h);
            }
            function checkCoords()
            {
                if (parseInt($('#w').val())) return true;
                    alert('Please select a crop region then press submit.');
                return false;
            }
            $('#jcrop_target').Jcrop({
                minSize: [600, 600],
                bgFade: true,
                bgOpacity: .3,
                boxWidth: 800,
                boxHeight: 800,
                aspectRatio: 1,
                onSelect: updateCoords,
                keySupport: false,
                setSelect:   [ (800 * 4/5),
                   (800 * 4/5),
                   (800/5),
                   (800/5) ]
            });
});

$(function() {


});


</script>-->

    <script>
    $(document).ready(function (e) {
        var $image = $('#cropper').find('img'), cropBoxData, canvasData;
        $('#cropper-modal').on('shown.bs.modal', function () {

            $image.cropper({
                autoCropArea: 0.8,
                aspectRatio: 1,
                zoomable: false,
                movable: false,
                built: function () {
                    // Strict mode: set crop box data first
                    $image.cropper('setCropBoxData', cropBoxData);
                    $image.cropper('setCanvasData', canvasData);
                },
                crop: function(data) {
                    var image_data = [
                        '{"x":' + Math.round(data.x),
                        '"y":' + Math.round(data.y),
                        '"width":' + Math.round(data.width),
                        '"height":' + Math.round(data.height),
                        '"rotate":' + Math.round(data.rotate) + '}'
                    ].join();
                    $('.image_data').val(image_data);
                    $('.image_src').val($image.attr('src'));
                    $('.image_id').val($image.attr('id'));
                  }
            });
        }).on('hidden.bs.modal', function () {
            cropBoxData = $image.cropper('getCropBoxData');
            canvasData = $image.cropper('getCanvasData');
            $image.cropper('destroy');
        });

        $('#cropperForm').on('submit', (function (e) {
            e.preventDefault();
            var formData = new FormData(this);
            var _this = this;

            $.ajax({
                url: $(this).attr('action'),
                type: 'post',
                data: formData,
                dataType: 'json',
                processData: false,
                contentType: false,

                beforeSend: function () {

                },

                success: function (data) {
                    $image.cropper('destroy');
                    $('#cropperForm').get(0).reset();
                    $('#cropper-modal').modal('hide');
                    $('#dropzone').find("#" + data['original_image_id']).attr('src', data['path']).attr('width','120px').attr('height','120px')
                },

                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(XMLHttpRequest);
                },

                complete: function () {

                }
            });
        }));
    });

    </script>
{% endblock %}