{% extends "base.html" %}

{% load staticfiles %}

{% block dropzonejs-styles %}
    <link rel="stylesheet" href="{% static 'css/dropzone.css' %}">
    <link rel="stylesheet" href="{% static 'css/pdpostdata.css' %}">
{% endblock %}

{% block dropzonejs-uploader %}
    {{ product.slug }}
    <span id='image-count'>0</span> / {{ product.image_total }}

    <div id="dropzone">
        <form action="{% url 'upload2' product.slug %}" class="dropzone" id="myDropzone" method='POST' enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="dz-message">
                <span class="note">Carga tus fotos haciendo clic aqui o arrastrandolas a la zona de carga.</span>
            </div>
            <div class="fallback">
                <input name="file" type="file" multiple />
            </div>
        </form>
    </div>

    <!--<form id="uploadForm" action="{% url 'upload2' product.slug %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" id="sendUploadForm" value="Send" />
    </form>-->

        <!-- The global file processing state -->
        <span class="fileupload-process">
            <div id="total-progress" class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress=""></div>
            </div>
        </span>

{% endblock %}

{% block content %}

    <div class="row">
        <form class='form' method='POST' action='{% url "add_to_cart" product.slug %}'> {% csrf_token %}
			<input class='btn btn-default btn-block' type='submit' value='Agregar al carrito'/>
            <input  class="form-control"  name='qty' type='number' value='1'/>
            {{ form.temp_hash }}
        </form>
    </div>

    {% for photo in photos %}
    <div class="row">
        <div class="col-sm-1 col-md-3">
            <div class="thumbnail">
                <a href="{{ photo.image_field.url }}">
                    <img class="img-responsive" id="{{ photo.id }}" data-dz-thumbnail alt="{{ photo.name }}" src="{{ photo.image_field.url }}" />
                </a>
            </div>
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p>Some sample text. Some sample text.</p>
                <p>
                    <a href="#" class="btn btn-primary" role="button">Editar</a>
                    <a href="#" class="btn btn-default" role="button">Eliminar</a>
                </p>
            </div>
        </div>
    </div>
    {% endfor %}

<div class="table table-striped" class="files" id="previews">
<div id="template">
    <div class="col-sm-1 col-md-2">
        <div class="thumbnail">
            <a>
                <img class="img-responsive" id="" data-dz-thumbnail alt="" src="" alt=""/>
            </a>
        </div>
        <div class="caption">
            <h3>Thumbnail label</h3>
            <p>Some sample text. Some sample text.</p>
            <p>
                <a href="#" class="btn btn-primary" role="button"> Button </a>
                <a href="#" class="btn btn-default" role="button">Button </a>
            </p>
        </div>
    </div>
</div>
</div>
    <div id="dropzone-previews">
    </div>
    <!-- your popup hidden content -->
    <div id="popover_content_wrapper" style="display: none">This is your div content</div>
        <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" data-dismiss="modal">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <img src="" class="imagepreview" >
                    </div>
                    <div class="modal-footer">
                        <div class="col-xs-12">
                            <p class="text-left">1. line of description<br>2. line of description <br>3. line of description</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block dropzonejs-scripts %}
    <script src="{% static 'js/dropzone.js' %}"></script>
    <script type="text/javascript">

        var image_count = 0;

        $(document).ready(function (e) {
            $('#uploadForm').on('submit',(function(e) {
                e.preventDefault();
                var formData = new FormData(this);

                $.ajax({
                    type:'POST',
                    url: $(this).attr('action'),
                    data:formData,
                    cache:false,
                    contentType: false,
                    processData: false,
                    success:function(data){
                        console.log("success");
                        console.log("fjkdwhfjwhf"+ data);
                        for (var i =0; i< data.photos.length; i++) {
                            $('#dropzone-previews').append('<div class="col-lg-2 col-md-1 col-xs-1 thumb"><a class="thumbnail" href="#"> <img class="img-responsive" src="' + data.photos[i].url + '" alt=""> </a> </div>');
                            //$('#dropzone-previews').append('<div class="col-sm-1 col-md-3"><div class="thumbnail"><a><img class="img-responsive" id="' + data.photos[i].name + '" data-dz-thumbnail alt="' + data.photos[i].name+ '" src="' + data.photos[i].url + '"alt=""/></a> </div> <div class="caption"> <h3>Thumbnail label</h3> <p>Some sample text. Some sample text.</p> <p> <a href="#" class="btn btn-primary" role="button"> Button </a> <a href="#" class="btn btn-default" role="button">Button </a> </p> </div> </div>');
                        }


                    },
                    error: function(data){
                        console.log("error");
                        console.log(data);
                    },

                    xhr: function()
                    {
                        //$('.progress-bar').css("display",'block');
                        //$('#percent').text('0%');
                        var xhr = new window.XMLHttpRequest();
                        //Upload progress
                        xhr.upload.addEventListener("progress", function(e){
                        if (e.lengthComputable) {
                            var percentComplete = e.loaded / e.total;
                            //Do something with upload progress
                            console.log(percentComplete)
                            $('.progress-bar').css('width', (percentComplete)*100+'%');
                            $('#percent').text(Math.floor((percentComplete)*100)+'%');
                        }
                    }, false);
                    return xhr;
                    }
                });
            }));

            $("#id_photos").on("change", function() {
                $("#uploadForm").submit();
            });
        });

        // Get the template HTML and remove it from the doumenthe template HTML and remove it from the doument
        var previewNode = document.querySelector("#template");
        previewNode.id = "";
        var previewTemplate = previewNode.parentNode.innerHTML;
        previewNode.parentNode.removeChild(previewNode);

        Dropzone.options.myDropzone = {
            url: "{% url 'upload2' product.slug %}", // Set the url
            parallelUploads: 5,
            paramName: "photos", // Name of our input file tag
            removeLinks: true,
            acceptedFiles: "image/*",
            createImageThumbnails: true,
            maxFiles: 20,
            minFiles: 0,
            previewTemplate: previewTemplate,
            previewsContainer: "#previews", // Define the container to display the previews
            thumbnailWidth: 150,
            thumbnailHeight: 150,

            init: function() {
                var myDropzone = this;

                this.on("success", function(file, responseText) {
                    // evento lanzado al terminar de subir las imágenes en cola
                    console.log(responseText);
                    //var mydropzone = this;
                    myDropzone.emit("thumbnail", file, responseText.photos[0].url);
                    //file.previewElement.querySelector("img").src = responseText.photos[0].url;
                    file.previewElement.querySelector("img").id = responseText.photos[0].name;
                    //$('#dropzone-previews').append('<div class="col-sm-1 col-md-3"><div class="thumbnail"><a><img class="img-responsive" id="' + responseText.photos[0].name + '" data-dz-thumbnail alt="' +responseText.photos[0].name+ '" src="' + responseText.photos[0].url + '"alt=""/></a> </div> <div class="caption"> <h3>Thumbnail label</h3> <p>Some sample text. Some sample text.</p> <p> <a href="#" class="btn btn-primary" role="button"> Button </a> <a href="#" class="btn btn-default" role="button">Button </a> </p> </div> </div>');
                    // pop up #example1, #example2, #example3 with same content
                    $('#'+responseText.photos[0].name).popover({
                        html: true,
                        trigger: 'click focus',
                        container: '#dropzone-previews',
                        placement: 'bottom',
                        animation: true,
                        content: function () {
                            return '<div><a href="' + responseText.photos[0].url + '">Editar</a></div>';
                        },
                    });

                    // Keep count of uploaded files
                    image_count++
                    var fileCount = myDropzone.files.length;
                    $("#image-count").html(fileCount);

                });

                this.on("complete", function() {
                    //this.removeAllFiles();
                });

                this.on("addedfile", function(file) {

                    //image_count++
                    //$("#image-count").html(image_count);

                    //var fileCount = myDropzone.files.length;
                });

                this.on("maxfilesexceeded", function(file){

                });

                // Update the total progress bar
                this.on("totaluploadprogress", function(progress) {
                  document.querySelector("#total-progress .progress-bar").style.width = progress + "%";
                });

                this.on("sending", function(file) {
                  // Show the total progress bar when upload starts
                  document.querySelector("#total-progress").style.opacity = "1";
                  // And disable the start button
                });

                // Hide the total progress bar when nothing's uploading anymore
                this.on("queuecomplete", function(progress) {
                  document.querySelector("#total-progress").style.opacity = "0";
                });
            }
        };

    </script>
{% endblock %}