{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block head %}
{{ wizard.form.media }}

	<style>

	.sortable {
		margin: auto;
		padding: 0;
{#		width: 700px;#}
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	.sortable.grid {
		overflow: hidden;
	}
	.sortable li {
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
		opacity: 1;
		-webkit-transition: all 0.2s ease;
		-moz-transition: all 0.2s ease;
		-o-transition: all 0.2s ease;
		-ms-transition: all 0.2s ease;
		transition: all 0.2s ease;
		list-style: none;
		border-radius: 4px;
		margin: 5px;
		padding: 0px;
        width: 200px;
		height: 200px;
	}
	.sortable li:hover {
		cursor: move;
	}
	.sortable li {
		border: 1px solid #d97815;
		background: #ff9933;
		color: #fff;
		text-shadow: 0 1px 1px #ac4e00;
		box-shadow: inset 0 1px 1px rgba(255,255,255,0.7);
	}
    .sortable img {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
		opacity: 1;
		-webkit-transition: all 0.2s ease;
		-moz-transition: all 0.2s ease;
		-o-transition: all 0.2s ease;
		-ms-transition: all 0.2s ease;
		transition: all 0.2s ease;
		list-style: none;
		border-radius: 4px;
		padding: 0px;
		height: 22px;
    }
    .sortable img:hover {
        -webkit-transform: scale(0.9);
		-moz-transform: scale(0.9);
		-o-transform: scale(0.9);
		-ms-transform: scale(0.9);
		transform: scale(0.9);
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";

    }
	.grid li {
		line-height: 80px;
		float: left;
		width: 160px;
		height: 160px;
		text-align: center;
	}
	.funcs li {
		border: 1px solid #eee;
	}
	#features li {
		background: none;
		border: none;
		color: black;
	}
	.disabled {
		opacity: 0.5;
	}

    .sortable_exclude_dynamic {
		margin: auto;
		padding: 0;
		width: 310px;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
    .sortable_exclude_dynamic li {
		border: 1px solid #d97815;
		background: #ff9933;
		color: #fff;
		text-shadow: 0 1px 1px #ac4e00;
		box-shadow: inset 0 1px 1px rgba(255,255,255,0.7);
	}

    .sortable_exclude_dynamic li.correct {
		border:1px solid #000000;
        background:#cccccc;
            cursor:default;
	}
    .sortable_exclude_dynamic li.empty{
        border:none;
        background:none;
        color:#dcdcdc;
            cursor:default;
    }

	.over {
		-webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
		box-shadow: 0 5px 10px rgba(0,0,0,0.2);
		-webkit-transform: scale(1.1);
		-moz-transform: scale(1.1);
		-o-transform: scale(1.1);
		-ms-transform: scale(1.1);
		transform: scale(1.1);
	}
	.moving {
		-webkit-transform: scale(0.9);
		-moz-transform: scale(0.9);
		-o-transform: scale(0.9);
		-ms-transform: scale(0.9);
		transform: scale(0.9);
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
		filter: alpha(opacity=30);
		opacity: 0.3;
	}
	.drop {
		-webkit-animation: drop 1s ease;
		-moz-animation: drop 1s ease;
		-ms-animation: drop 1s ease;
		-o-animation: drop 1s ease;
		animation: drop 1s ease;
        -webkit-transform: scale(1);
		-moz-transform: scale(1);
		-o-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	}

    .pdstrip {
        box-shadow: 0px 0px 10px 1px;
        margin: 10px;
        float: left;
    }

    .pdstrip .item {
        margin: 20px;
    }

    .pdposter {
        box-shadow: 0px 0px 10px 1px;
        margin: 10px;
    }
    .pdposter .item {
        margin: 20px;
    }

	@keyframes "drop" {
		0%, 100% {
			background: #FF9933;
			color: #fff;
		}
		50% {
			color: #FF9933;
			background: #fff;
		}
	}
	@-moz-keyframes drop {
		0%, 100% {
			background: #FF9933;
			color: #fff;
		}
		50% {
			color: #FF9933;
			background: #fff;
		}
	}
	@-webkit-keyframes "drop" {
		0%, 100% {
			background: #FF9933;
			color: #fff;
		}
		50% {
			color: #FF9933;
			background: #fff;
		}
	}
	@-ms-keyframes "drop" {
		0%, 100% {
			background: #FF9933;
			color: #fff;
		}
		50% {
			color: #FF9933;
			background: #fff;
		}
	}
	@-o-keyframes "drop" {
		0%, 100% {
			background: #FF9933;
			color: #fff;
		}
		50% {
			color: #FF9933;
			background: #fff;
		}
	}
	</style>
{% endblock %}

{% block content %}

        <form action="" method='POST' enctype="multipart/form-data">
            {% csrf_token %}
            <div class="container-fluid">
            {% include 'photos/wizard-step-bar.html' %}
                <div class="row">
                    <div class="text-center">
                        <h3>{{ product.title }}</h3>
                        <span>Para mover las imágenes simplemente arrastra y suelta con el clic en el lugar deseado. Verás que es muy fácil!</span>
                    </div>
                    {% include product_template %}
                </div>
            </div>
            <table>
                {{ wizard.management_form }}
                {% if wizard.form.forms %}
                    {{ wizard.form.management_form }}
                    {% for form in wizard.form.forms %}
                        {{ form }}
                    {% endfor %}
                {% else %}
                    {{ wizard.form }}
                {% endif %}
            </table>

            {% if wizard.steps.prev %}
                <button class="btn btn-default" name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% trans "first step" %}</button>
                <button class="btn btn-primary" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "prev step" %}</button>
            {% endif %}
                <input class="btn btn-primary btn-fill" type="submit" value="{% trans "Siguiente" %}"/>
        </form>
    <section>
		<h2><em>toArray</em> <span id="arrayResults"></span></h2>
		<h2><em>toJSON</em> <span id="jsonResults"></span></h2>
	</section>
{% endblock %}

{% block sortable-scripts %}
	<script src="{% static 'js/zepto.min.js' %}"></script>
	<script src="{% static 'js/zepto.dragswap.js' %}"></script>
    <script>
        $(function() {
            Zepto('.sortable').dragswap({
                element: '.item',
                dropAnimation: true,
                overClass: 'over', // class when element goes over another element
                moveClass: 'moving', // class when element is moving
                dropClass: 'drop', // the class to add when the element is dropped
                exclude: '.disabled',  // excluded elements selector, here we can add array of excluded classes ['.exclude', '.exclude2']
                dropComplete: function() {
                    var sortArray = Zepto('.sortable').dragswap('toArray');
                    //$('#arrayResults').html('['+sortArray.join(',')+']');
                    var sortJSON = Zepto('.sortable').dragswap('toJSON');
                    $('#jsonResults').html(sortJSON);
                    $('#id_1-photo_sort_list').val(sortJSON);
                }
            });
        });
    </script>

{% endblock %}