<ul class="sortable grid list-group">
    {% for photo in photo_list %}
        <li id="{{ photo.id }}" class="list-group-item">
        {% if photo.cropped %}
            <img class="img-responsive" draggable="false" src="{{ photo.cropped.image_cropped.url }}" style="width:160px; height: 160px; max-height: 100%"/>
        {% else %}
            <img class="img-responsive" draggable="false" src="{{ photo.smart.url }}" style="width:160px; height: 160px; max-height: 100%"/>
        {% endif %}
        </li>
    {% endfor %}
</ul>